body { 
    background-image: url(img/fondo.jpeg); 
    background-size: cover; 
}
.menu ul{
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.menu ul li a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  .menu ul li a:hover {
      background-color: aqua;
      color: white
  }

.portal img{
    width: 500px;
    height: auto;
    position: absolute ;
}
.portal {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}
.portal .rickandmorty {
    margin-top: 180px;
    width: 600px;
}
.btn-neon{
   position: relative; 
   display: inline-block;
   padding: 20px 40px;
   color: #fff;
  letter-spacing: 4px;
  font-size: 30px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  font-family: sans-serif;
  margin-top: 550px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
}
.btn-neon:hover{
    background: #11c3c9;
    box-shadow: 0 0 10px #11c3c9, 0 0 40px #11c3c9, 0 0 80px#11c3c9; 
    transition-delay: 0s;
    
}

    .oculto {
        display: none;
            }
    #root {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
         }

    .ficha {
        margin: 20px;
        border-radius: 20px;
    }

    .ficha .parrafo{
        margin-top: 50px;
        background: #11c3c9;
        
    }
    .ficha .imagen {
        border-radius: 30px;
        margin-top: 30px

    }

 .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  
 }
#az, #name, #species, #status {
    font-size: 30px;
  background-color: #18191f;
  color: #fff;
  box-shadow: 10px 2px 10px #00000080, 10px 2px 10px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 0 25px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 10px #0072ff, 0 0 10px #0072ff, 0 0 10px #0072ff,
    0 0 10px #0072ff;
}
#az {
    animation-delay: 0.3s;
  }
  #name {
    animation-delay: 0.7s;
  }
  #species{
    animation-delay: 0.1s;
  }
  #status{
    animation-delay: 0.1s;
  }

@keyframes animate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }


    @media only screen and (max-width: 480px) {
        .ficha {
            background-color: #f00;
        }
        .portal img {
            width: 300px;
        }
        .portal .rickandmorty {
            margin-top: 80px;
            width: 400px;
        }
        .btn-neon{ 
            padding: 15px 35px; 
            transition-delay: 0s;
           
        }
      }
      
      
    
    
